header {
    padding: 10px;
    text-align: center;
    background: #1c9980;
    color: white;
    font-size: 30px;
    }
  
  html,

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      text-align: center;
      padding: 3px;
      background-color: #1abc9c;
      color: white;
}

#main_page{
    position: relative;
    text-align: center;
    top: 250px;
}
  

  